.cart{
    margin-top: 100px;
}
.cart-item-title {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr .5fr;
    align-items: center;
    color: gray;
    font-size: max(1vw, 15px);
}
.cart-item-item{
    margin: 10px 0px;
    color: #000;

}
.cart-item-item img{
    width: 55px;
}
.cart hr{
    height: 1px;
    background-color:#75707087 ;
    border: none;
}
.cart-item-item .cross{
    cursor: pointer;
}
.cart-bottom{
    margin-top:80px ;
    display: flex;
    justify-content: space-between;
    gap: max(12vw,20px);
}
.cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart-total-details{
    display: flex;
    justify-content: space-between;
   color: #555555d2;
}
.cart-total hr{
    margin: 10px 0px;
}
.cart-total button{
    border: none;
    color: #fff;
    background-color: rgb(56, 182, 255);
    width: max(15vw,200px);
    padding: 12px 0px;
    border-radius: 5px;
    cursor: pointer;
}
.cart-promocode{
    flex: 1;
}

.cart-promocode p{
    color: #555;
}
.cart-promocode-input{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(113, 113, 113, 0.34) ;
    border-radius: 4px;
}
.cart-promocode-input input{
    background: transparent ;
    border: none ;
    outline: none ;
    padding-left: 10px; 
}
.cart-promocode-input button{
    width: max(10vw,150px);
    padding: 12px 5px;
    background-color: black ;
    border: none;
    color: #fff;
    border-radius: 5px;
}
@media (max-width:750px) {
    .cart-bottom{
        flex-direction:column-reverse ;
    }
    .cart-promocode{
        justify-content: start;
    }
}

