.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap:50px;
    margin-top: 60px;
}
.place-order-left{
    width: 100%;
    max-width: max(30%,500px);
}
.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #9b9b9b;
    border-radius: 5px;
    outline-color: rgb(15, 153, 226);
    font-size: 14px;
}
.place-order-left .mulit-fields{
    display: flex;
    gap: 10px;
}
.place-order-right{
    width: 100%;
    max-width: max(30%,500px);
}
.place-order .cart-total button{
    margin-top: 20px;
}