@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
body{
  min-height: 100vh;
  background-color: #fff;
}
a{
  text-decoration: none;
  color: inherit;
}
hr{
  border: none;
  height: 1px;
  background-color: rgb(211, 221, 221);
}
.app-content{
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
h2{
  width: 90%;
  padding: 300px 30px 30px 300px;
  font-size: 50px;
  font-weight: 600;
  background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(60, 202, 245));
}

@media (max-width: 800px) {
  h2{
      display: none;
  }
}