.footer{
    color: rgb(255, 255, 255);
    background-color: rgb(20, 114, 168);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer-content-left, .footer-content-right, .footer-content-center{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer-content-left img{
    width: 20vw;
}
.footer-content-left li, .footer-content-right li,.footer-content-center li{
    list-style: none ;
    margin-bottom: 10px;
    cursor: pointer;
}
 .footer-content-right h2,.footer-content-center h2{
    color:white
}
.footer-social-icons img{
    width: 30px;
    margin-right: 20px;
}
.footer hr{
    width: 100%;
    height:2px ;
    margin: 10px;
    background-color: aqua;
    border: none;
}
@media (max-width: 767px) {
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
    .footer-content-left>.logo{
        width: 200px;
    }
}