.navbar{
    padding:20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 200px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap:20px;
    color: black;
    font-size: 18px;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.84);
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius:50px;
    cursor: pointer;
}
.navbar button:hover{
    background: tomato;
    color: white;
}
