.login-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.515);
    display: grid;
}
.login-popup-container{
    place-self: center;
    width: max(23vw,380px);
    color: #000;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}
.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}
.login-popup-title img{
    width: 16px;
    cursor: pointer;
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.login-popup-inputs input{
    outline: none;
    border: 1px solid #b5b0b0;
    padding: 10px;
    border-radius: 5px;
}
.login-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(0, 191, 255) ;
}
.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -13px;
}
.login-popup-condition input{
    margin-top:4px ;
}
.login-popup p span {
    color: rgb(0, 191, 255);
    font-weight: 500;
    cursor: pointer;
}