.sidebar{
    width: 25%;
    min-height: 100vh;
    border:1.5px solid rgb(173, 173, 173);
    border-top: 0;
    font-size: max(1vw,10px);
}
.sidebar-options{
    padding-top:50px ;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid rgb(173, 173, 173);
    border-right: 0;
    padding: 8px 10px;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
}
.sidebar-option img{
    width: max(20px, 15%);
}
.sidebar-option.active{
    background-color: #1815e027;
    border-color: rgba(15, 37, 239, 0.59);
}
@media (max-width: 550px){
    .sidebar-option p{
        display: none;
    }
    .sidebar-options{
        padding-left: 50%;
    }
}