.app-download{
    margin:auto auto;
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: max(3vw,20px);
    text-align: center;
    font-weight: 500;
}
.download-platforms{
    display: flex;
    justify-content: center;
    gap: max(2vw,10px);
    margin-top: 40px;
}
.download-platforms img{
    width: max(30vw,120px);
    max-width: 150px;
    transition: 0.5s ;
    cursor: pointer;
}
.download-platforms img:hover{
    transform: scale(1.05);
}